/* -- Definizione del layout principale -- */

body{
	width:91%;
	margin-left:4.5%;
	margin-right:4.5%;
	padding-left:0.5%;
	padding-right:0.5%;
	font-size:1.1em;
	background: #99ccff;
}

.sbarra{
	border-top: 1.2em solid #0066cc;
	border-bottom: 1.2em solid #0066cc;
	border-right: 1.2em solid #0066cc;
	border-left: 1.2em solid #0066cc;
	-moz-border-radius:2.5em;
	-webkit-border-radius:2.5em;
	border-radius: 2.5em;
}

/* -- Modellazione dell'intestazione del sito -- */

#header{
	color:black;
	background-color: #0066cc;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 0.8em;
}

#header h1{
	position:absolute;
	left:-1000em;
}

#header .head{
	width: 30em;
	height: 6em;
}

.saltamenu{
	position:absolute;
	left:-1000em;
}

/* -- Barra di navigazione e breadcrumbs -- */

.nav{
	padding:0.2em;
	padding-left:1.5em;
	border:0em;
	border-bottom:0.1em solid black;
	background-color: #0066cc;
}


ul.navbar{
	margin:0em;
	padding:0em;
	list-style:none;
}

li.button{
	background-color:#99ccff;
	-moz-border-radius:5em;
	-webkit-border-radius:5em;
	border-radius:5em;
	border:0.1em solid #99ccff;
	display:inline-block;
	font-family:Arial;
	font-size:1em;
	font-weight: bold;	
	padding:1em 5%;
	cursor:pointer;
}

li.link:hover {
	background-color:#0066cc;
	color:#99ccff;
}

a.link:hover{
	background-color:#0066cc;
	color:#99ccff;
}

li.link:active {
	position:relative;
	top:0.1em;
}

li.current{
	background-color:#0066cc;
	color:#99ccff;
}

div.breadcrumbs{
	border-bottom:0.12em solid black;
	padding-top: 0.2em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	color: #ffffff;
	background-color: #0066cc;
}

/* -- Footer -- */

#footer{
	background-color: #0066cc;
	padding:0.1em;
	color:#99ccff;
	text-align:right;
	padding-top:0.5em;
}

.login{
	margin:0.8em;
	text-align:left;
}

.login span{
	font-style:italic;
}

input[type=text], input[type=password]{
	padding:0.3em;
	margin-right:1em;
	-moz-border-radius:0.5em;
	-webkit-border-radius:0.5em;
	border-radius:0.5em;
}

input[type=text]:focus, input[type=password]:focus{
	border:0.2em solid #99ccff;
	background-color:#0066cc;
	color:#99ccff;
}

input[type=submit]{
	background-color: #0066cc;
    border: 0.2em solid #99ccff;
    color: #99ccff;
    text-decoration: none;
	padding:0.2em 1.5em;
	font-size:0.78em;
    cursor: pointer;
	-moz-border-radius:5em;
	-webkit-border-radius:5em;
	border-radius:5em;
}

.goup{
	background-color:#99ccff;
	padding:0.3em;
	text-align:center;
	position: fixed;
	bottom:0;
	right:0;
	width:10em;
	border:0.2em solid #0066cc;
	-moz-border-radius:5em;
	-webkit-border-radius:5em;
	border-radius:5em;
}

.goup:hover{
	background-color:#0066cc;
	color:#99ccff;
}

/* -- Contenuto della pagina -- */

.content{
	padding-left: 1.5em;
	padding-right: 1.5em;
	min-height:20em;
	display:inline-block;
}

.content h2{
	font-size:1.5em;
	margin-top:1em;
	margin-bottom:1em;
}

.content h3{
	font-size:1.2em;
	margin-top:1em;
	margin-bottom:1em;
	position:relative;
	left:2em;
	font-style:italic;
}

.desc{
	margin-bottom:2em;
}

.quote{
	font-style:italic;
	text-align:center;
	padding-top:1em;
	display:block;
}

.mappa{		/* Mappa presente nella pagina Mondo di Gioco */
	width:50%; 
	height:auto;
	float:left;
	margin-bottom:2em;
	margin-right:1em;
}

.poem{		/* Brano introduttivo affiancato alla mappa */
	display:inline-block;
	font-style:oblique;
	font-family:serif;
	padding-top:0.8em;
	margin-left:1em;
	margin-right:1em;
}

/* -- Link alle pagine dei singoli draghi -- */

.draghirazze{
	width:16%;
    vertical-align: center;
    display: inline-block;
    text-align: center;
	margin-bottom:2em;
}

.draghirazze span{
	display: block;
}

/* -- Contenuti multimediali delle pagine dei draghi -- */

.idrago{
	float:left;
	max-width:15em;
	margin-bottom:2em;
}

.irazzal{
	margin:0 auto;
    display: block;
	max-width:50%;
	max-height:30em;
	float:left;
}

.irazzar{
	margin:0 auto;
    display: block;
	max-width:50%;
	max-height:25em;
	float:right;
}

/* -- Classi per pagine dinamiche -- */


div.news{
	margin-bottom:2em;
	padding:0.4em;
	border: 0.2em solid #0066ff;	
}

div.news img{
	display:block;
	float: left; /* immagini a sinistra  con testo che scorre a destra*/
	height: 25em; /* immagini di altezza fissa 25em e larghezza proporzionale */
	width:auto;
	margin-right:2em;
}

span.newsTag{
	display: inline-block;
	width:10em;
}
.schedaTag{
	font-weight:bold;
}

.abilita{
	position:relative;
	left:1.1em;
}

.bio{
	border:0.1em solid #0066ff;
}

.bio h4{
	padding-top:0.1em;
	margin-top:0.1em;
	font-style:italic;
}

.errore{ 
	color:red;
	display: none;
}

/* -- Modalità di stampa -- */

@media only print{
	.head, .saltamenu, .nav, .breadcrumbs, .goup, .dragowrapper, #footer{
		display: none;
	}
	
	#header{
		background-color: white;
	}
	
	#header h1{
		position:initial;
	}
	
	body{
		background-color: white;
	}
	
	a{
		color:black;
		text-decoration: none;
	}
	
	.sbarra{
		border:0;
	}
}

/* -- Regole per mobile -- */
@media screen and (max-width:980px){
	#header .head{
		width:91%;
		height:auto;
	}
	
	li.button{
		width:80%;
		padding:0.5em 5%;
		margin-bottom: 0.2em;
	}
	
	li.link, li.current{
		text-align:center;
	}
	
	.content h3{
		position:static;
	}
	
	.draghirazze{
		margin:0.1em;
		margin-bottom:1em;
		width:30%;
	}
	
	.idrago{
		max-width:80%;
		height:auto;
	}
	
	.irazzal, .irazzar{
		display:inline-block;
		max-width:60%;
		height:auto;
	}
}

@media screen and (max-width:650px){
	.sdrago{
		width:90%;
		height:auto;
	}
}