body{
	width:91%;
	margin-bottom:0;
	margin-top:0;
	margin-left:4.5%;
	margin-right:4.5%;
	padding-left:0.5%;
	padding-right:0.5%;
	font-size:1.1em;
	background: #99ccff;
}

.sbarra{
	border-top: 1.2em solid #0066cc;
	border-bottom: 1.2em solid #0066cc;
	/*border-right: 0.2em solid #0066cc;
	border-left: 0.2em solid #0066cc;*/
}

#header{
	color:black;
	background-color: #0066cc;
	/*border-bottom:0.2em solid black;*/
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 0.8em;
}

/* Nascondo i link pro-screenreader ai normovedenti e regolo le dimensioni dell'immagine titolo */

#header h1{
	position:absolute;
	left:-1000em;
}

#header .head{
	width: 30em;
	height: 6em;
}

.saltamenu{
	position:absolute;
	left:-1000em;
}

/* ----------------------- Barra di navigazione------------------------------*/

.nav{		/* barra di navigazione */
	/*margin-bottom:0.3em;*/
	padding:0.2em;
	padding-left:1.5em;
	border:0em;
	border-bottom:0.1em solid black;
	background-color: #0066cc;
}


ul.navbar{		/* lista contenuta nella barra di navigazione */
	margin:0em;
	padding:0em;
	list-style:none;
}

li.button{
	background-color:#99ccff;
	-moz-border-radius:5em;
	-webkit-border-radius:5em;
	border-radius:5em;
	border:0.1em solid #99ccff;
	display:inline-block;
	font-family:Arial;
	font-size:1.em;
	font-weight:bold;
	padding:1em 5%;
	cursor:pointer;
}
/*
li.link:link{
	background-color:transparent;
}

li.link:visited{
	background-color:transparent;}
*/
li.link:hover {
	background-color:#0066cc;
	color:#99ccff;
}

a.link:hover{
	background-color:#0066cc;
	color:#99ccff;
}

li.link:active {
	position:relative;
	top:0.1em;
}

li.current{
	background-color:#0066cc;
	color:#99ccff;
}

div.breadcrumbs{
	border-bottom:0.12em solid black;
	padding-top: 0.2em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	color: #ffffff;
	background-color: #0066cc;
}

/* Footer */

#footer{
	background-color: #0066cc;
}

/* ----------------------- News della home------------------------------*/


div.news{
	margin-bottom:2em;
	padding:1em;
	border: 0.2em solid black;
	background-color:white;		/*Se volessimo fare le cose fatte bene questo dovrebbe poter essere scelto dinamicamente*/
	
	/* Impostazioni per un'eventuale immagine di sfondo */
	background-repeat:none;
	background-size:contain;
	
}

div.news img{
	display:block;
	float: left; /* immagini a sinistra  con testo che scorre a destra*/
	height: 25em; /* immagini di altezza fissa 25em e larghezza proporzionale */
	margin-right:2em;
}

span.newsTag{
	display: inline-block;
	width:10em;
}
span.newsValue{
}

/*mappa e poesia*/
.mappa{
	width: 50%; 
	height: auto;
	float: left;
	margin-bottom:5em;
}

#mp{
	margin-bottom:5em;
	text-align:justify;
}

#mp p{
	
}
/*contenuto presentazione*/
#content{
	padding-left: 1.5em;
	padding-right: 1.5em;
	min-height:30em;
}


.titolo{
    margin: 0 auto;
    display: block;
	width:15em;
	height:auto;
}


#content h1{
	position:absolute;
	left:-9999999em;
}
/*link alle descrizioni dei draghi*/
#draghirazze{
	width:16%;
    vertical-align: center;
    display: inline-block;
    text-align: center;
	margin-bottom:2em;
}

#draghirazze span{
	display: block;
}

/*pagine descrittive dei draghi*/

.idrago{
	float:left;
	max-width:30%;
	margin-bottom:1em;
}

.irazza{
	margin:0 auto;
    display: block;
	max-width:50%;
}